
form#new_task, form.edit_task {
  .form-inputs {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

a {
  color: darkblue;

  &:hover {
    color: steelblue;
    background-color: transparent;
    text-decoration: none;
  }
}

.panel {
  .panel-action {
    background-color: #F9F9F9;
    border-bottom: 1px solid #DDD;
  }
}
.table {
  .completed {
    background-color: #A8FFBE !important;
    td {
      background-color: inherit !important;
    }
  }
  td:last-child {
    vertical-align: bottom;
  }
} 
